@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
    }
    .logo {
        margin: 20px;
    }
    nav {
        width: 100%;
    }
    nav li {
        flex-grow: 1;
        text-align: center;
    }
}
@media (max-width: 700px) {
    ul {
        flex-direction: column;
        text-align: center;
    }
}