@media (max-width: 1200px) {
    .Bloc-1 {
        flex-direction: column;
    }
    .Bloc-1 img {
        display: block;
        margin: 0 auto;
    }
    .Service {
        flex-direction: column;
    }
    .slider-service {
        width: 100%;
        height: auto;
    }
    .block-slider img {
        width: 100%;
    }
    .text-service {
        padding: 65px 20px;
    }
}
@media (max-width: 1000px) {
    .header-container {
        flex-direction: column;
    }
    .logo {
        margin: 20px;
    }
    nav {
        width: 100%;
    }
    nav li {
        flex-grow: 1;
        text-align: center;
    }
    .home {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .Service {
        flex-direction: column;
    }
}
@media (max-width: 700px) {
    .header-container ul {
        flex-direction: column;
        text-align: center;
    }
    .header-container li {
        margin: 5px;
        background: #59c45a;
    }
    .header-container {
        padding-bottom: 15px;
    }
    .Bloc-1 {
        flex-direction: row;
        width: 100%;
        max-width: 100%;
    }
    .about-favorable {
        flex-direction: column;
    }
    .Bloc-text {
        margin: 0 0;
        padding: 0 0;
        margin-left: 15px;
    }
    .Text-bloc {
        flex: 0 0 100%;
        margin: 0;
        max-width: 100%;
    }
}
@media (max-width: 600px) {
    .Bloc-1 {
        flex-direction: column;
    }
    .Bloc-text {
        margin-right: 15px;
    }
}
@media (max-width: 450px) {
    .home h1 {
        font-size: 44px;
    }
    .button-boocing {
        padding: 10px 25px;
    }
    .button-see {
        padding: 15px 15px;
        font-size: 16px;
    }
}